// _l-header.scss

.header {
  position: relative;
  height: 40px;
  line-height: 40px;
  background-color: color('gray', 'super-light');
  text-align: center;
  z-index: 2;

  &__link {
    opacity: 0;
    position: absolute;
    color: color('foreground');
    top: 0; left:  20px;
    z-index: 2;

    &.show {
      left:  20px;
      opacity: 1;
      @include transition();
    }

    &::before {
      display: inline-block;
      font-family: font('icon');
      content: $icon-right-arrow;
      color: color('foreground');
      font-size: 21px;
      transform: rotate(-180deg);
    }

    &--icon {
      opacity: 1; 

      &.jsNotifications {
        left: auto;
        right: 20px;

        #push {
          position: absolute;
          top: 8px;
          right: -2px;

          .push {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: color('validation', 'no');
          }
        }
      }

      .icon-notification {
        font-size: 20px;
        line-height: 43px;
      }
      .icon-loading {
        font-size: 25px;
        line-height: 40px;
      }

      &::before {
        display: none;
      }
    }
    &--refresh {
      opacity: 1; 

      &::before {
        display: block;
        font-family: font('icon');
        content: $icon-logout;
        font-size: 22px;
        transform: rotate(0);
      }
    }
  }

  .title {
    position: relative;
    font-weight: 100;
    color: color('foreground');
    background-color: color('gray', 'super-light');
    font-size: 22px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    line-height: 40px;
    margin: 0;
    z-index: 1;

    span {
      font-size: 16px;
    }
  }
}

.header-lvl2 {
  position: relative;
  width: 100%;
  background-color: color('background', 'invert');
  color: color('foreground', 'invert');
  margin: 0;
  font-size: 15px;
  font-weight: 100;
  padding: 2px 0 5px 20px;
  border-top: solid 2px color('primary');

  &__inner {
    width: calc(100% - 160px);
    text-align: center;

    span {
      display: block;
    }
  }

  .icon-right-arrow,
  .icon-left-arrow {
    @include center-v(absolute);
    color: color('gray', 'super-light');
    font-size: 18px;
    cursor: pointer;
    @include transition();

    &:hover {
      color: color('foreground', 'invert');
      @include transition();
    }
  }

  .icon-right-arrow {
    right: 20px;
  }
  .icon-left-arrow {
    left: 20px;
  }
}