// _m-actions.scss

.action {
  &__info {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0 -12px 0;
    padding: 0 15px;

    &--left {
      text-align: left;
    }
  }

  &__list {
    width: 100%;
    margin-top: 20px;

    #validation & {
      margin: 0;
    }

    #validation .validation-item__justification & {
      margin-top: 10px;
    }

    &__item {
      position: relative;
      list-style: none;
      height: 50px;
      line-height: 50px;
      background-color: color('background');
      padding-left: 15px;
      font-size: 14px;
      border-top: solid 1px color('gray', 'super-light');
      cursor: pointer;

      input:invalid+span:after {
        display: inline-block;
        content: 'Vous ne pouvez pas dépasser le créneau horaire de base.';
        color: color('validation', 'no');
        margin-left: 15px;
        font-size: 12px;
        font-weight: 700;
      }

      .error-msg {
        color: color('validation', 'no');
        margin-left: 15px;
        font-size: 12px;
        font-weight: 700;

        &--validation {
          position: relative;
          bottom: 8px;
        }

        &--top {
          display: block;
          margin-top: -30px; 
        }
      }

      &:last-child {
        border-bottom: solid 1px color('gray', 'super-light');
      }

      &.arrow {
        &::after {
          display: block;
          font-family: font('icon');
          content: $icon-right-arrow;
          color: color('gray', 'super-light');
          font-size: 15px;
          right: 10px;
          @include center-v(absolute);
        }
      }

      &.premium {
        padding-left: 40px;
        background-color: rgba(color('primary'),.3);
        cursor: not-allowed;

        &::before {
          display: block;
          font-family: font('icon');
          content: $icon-lock;
          color: #beb139;
          font-size: 15px;
          left: 15px;
          @include center-v(absolute);
        }
      }

      &.textarea {
        height: 120px;
        padding: 0;

        textarea {
          width: 100%;
          height: 100%;
          border: 0;
          padding: 10px 20px;
          font-size: 14px;
          resize: none;

          &.small {
            width: calc(100% - 200px);
          }
        }
      }

      &.input {
        padding: 0;

        .input-text {
          width: 100%;
          height: 100%;
          padding: 16px 20px;
          font-size: 14px;
          line-height: 50px;
          border: 0;
        }
      }

      &.list {
        height: auto;
        overflow: hidden;

        div {
          height: 20px;
          line-height: 20px;
          margin: 5px 0;
        }
      }
    }
  }
}

.jsUsersList {
  position: relative;
  margin-left: 20px;
}

select#jsListDaysInProgress {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 9;
  display: block;
  width: 150px;
  margin: auto;
  height: 30px;
  border: solid 2px color('primary');
  background: color('primary');
  color: color('foreground');
  font-size: 14px;
}