/*
 * Custom Table Calendar
 * ---------------------
 */
#calendar,
#calendar-edit {
  font-family: font('secondary');
  font-size: 13px;

  &.fc-unthemed {
    .fc-agendaWeek-view {
      td {
        &.fc-today {
          background-color: rgba(color('primary'),.5);
        }
      }
    }
    .fc-agendaDay-view {
      td {
        &.fc-today {
          background-color: transparent;
        }
      }
    }
  }

  .fc-toolbar {
    &.fc-header-toolbar {
      margin: 0;
    }
  }

  hr {
    display: none !important;
  }

  table {
    width: 100%;

    td {
      //border: solid 1px color('gray', 'light');
    }
  }

  .fc-header-toolbar {
    background-color: color('background', 'invert');
    border-top: 2px solid color('primary');
    padding: 5px 0;

    h2 {
      position: relative;
      top: 3px;
      color: color('foreground', 'invert');
      font-weight: 200;
      font-size: 18px;
      text-align: center;
    }


  }

  .fc-head {
    //background-color: color('gray', 'extra-light');
    //border-bottom: 2px solid color('gray', 'super-light');
    //border-bottom: 2px solid color('background', 'invert');

    .fc-head-container {

      &.fc-widget-header {
        border: 0;
      }

      .fc-widget-header {
        margin: 0;
        border: 0;

        .fc-day-header {
          height: 20px;
          vertical-align: bottom;
          text-align: right;
          text-transform: uppercase;
          //color: color('gray', 'base');
          padding-right: 6px;
        }
      }
    }
  }
  
  .fc-body {
    // Toute la journée
    .fc-day-grid {
      border-bottom: 2px solid color('gray', 'super-light');
      background-color: color('gray', 'super-light');

      .fc-bg {
        tr {
          .fc-axis {
            padding-right: 4px;
            text-align: right;
            border-right: solid 1px color('gray', 'super-light');
            span {
              width: 42px;
              color: color('foreground');
              font-size: 12px;
              font-weight: 700;
            }
          }
        }
      }
    }
    // Reste

    .fc-time-grid-container {
      .fc-time-grid {
        .fc-slats {
          tr {
            td {
              //border-top: solid 1px color('gray', 'light');
              &.fc-axis {
                padding-right: 4px;
                text-align: right;
                border-right: solid 1px color('gray', 'super-light'); 
              }
            }
            &.fc-minor {
              height: 22px;

              td {
                line-height: 22px;
                border-top: dotted 1px color('gray', 'extra-light');
                border-bottom: solid 1px color('gray', 'super-light');
              }
            }
          }
        }
      }
    }
    // Events
    .fc-content-skeleton {
      .fc-content-col {
        position: relative;

        .fc-now-indicator {
          border: 0 solid color('validation', 'no');

          &.fc-now-indicator-line {
            border-top-width: 2px;
          }
        }

        .fc-event-container {
          position: relative;
          margin: 0 2.5% 0 2px;
          z-index: 4;

          .fc-event {
            padding: 2px 6px;

            .fc-content {
              text-align: right;

              .fc-time {
                font-size: 14px;
              }
              .fc-title {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

.event-location {
  font-style: italic;
}

  

/*
 * Custom Navigation
 * -----------------
 * Left & right button
 */
.calendar-navigation {
  position: absolute;
  width: 100%;
  right: 0;
  top: 40px;
  height: 35px;

  #edit & {
    top: 50px;
  }

  &-prev {
    left: 10px; 
  }
  &-next {
    right: 10px; 
  }

  button {
    position: absolute;
    top: 10px;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: color('foreground', 'invert');
    outline: none;

    .icon {
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.calendar-view {
  position: absolute;
  right: 0;
  top: 0px;
  //top: 70px;
  border-left: solid 2px color('primary');
  width: 200px;
  z-index: 10;

  &__button {
    position: relative;
    display: block;
    text-transform: uppercase;
    background-color: color('background', 'invert');
    color: color('foreground', 'invert');
    font-weight: 500;
    border: 0;
    outline: none;
    width: 100%;
    height: 35px;
    @include transition();

    &.active {
      &::before {
        display: block;
        content: "";
        @include center-v(absolute);
        left: 12px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: color('primary');
      }
      color: color('primary');
    }
    &:hover {
      color: color('primary');
      @include transition();
    }
  }
}

/*
 * Custom Modale
 * -----------------
 * Add & Edit Events
 */
.calendar-modale {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(color('background', 'invert'), .8);
  z-index: 10;
  @include transition();

  &__inner {
    @include center-v(fixed);
    text-align: center;
    background-color: color('background');
    padding: 20px;
    width: 98%;
    left: 50%;
    margin-left: -49%;

    .icon-close {
      font-size: 20px;
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
      cursor: pointer;
    }
  }

  &__title {
    font-family: font('secondary');
    font-weight: 700;
    font-size: 28px;
  }

  &__input-container {
    margin: 10px 0 30px 0;
  }

  &__input {
    border: 0;
    padding: 10px;
    border-bottom: solid 2px color('gray', 'light');
    color: color('gray');
    margin: 5px 0;
    width: 100%;
    font-size: 14px;
    outline: none;
    @include transition();

    &:focus {
      border-bottom: solid 2px color('background', 'invert');
      color: color('foreground');
      @include transition();
    }
  }

  span {
    display: block;
    font-size: 14px;
    color: color('gray');
  }

  &__button {
    font-family: font('primary');
    font-size: 14px;
    display: inline-block;
    border: 0;
    color: color('foreground', 'invert');
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 3px;
    padding: 12px;
    outline: none;
    min-width: 100px;
    cursor: pointer;
    //@include transition();

    &:hover {
      //@include transition();
    }
    
    &--confirm {
      background-color: color('validation', 'ok');
    }
    &--cancel {
      background-color: color('background', 'invert');
    }
    &--delete {
      background-color: color('validation', 'no');
    }
  }
}

.calendar-modale-error {
  font-size: 14px;
  margin-top: 25px;
  font-weight: 700;
  color: color('validation', 'no');
}

.selectUserToEditPlanning {
  display: block;
  background-color: color('background', 'invert');
  color: color('foreground', 'invert');
  border: 0;
  height: 40px;
  padding: 10px;
  margin: 5px auto;
  width: 170px;
  font-size: 13px;
}