// _m-notifications.scss

.notification,
.search {
  display: none;
  position: absolute;
  top: 0; left: 0;
  background-color: color('background');
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 10;
  padding-bottom: 25px;

  &__wait {
    width: 100%;
    background-color: color('gray', 'super-light');
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
  }

  &__author {
    font-weight: 700;
  }

  &__justification {
    border: solid 1px color('gray');
    border-radius: 5px;
    color: color('gray', 'light');
    font-style: italic;
    font-weight: 300;
    line-height: 14px;
    padding: 4px 6px;
    margin-top: 5px;
  }

  &__motivation {
    font-weight: 700;
    color: color('validation', 'ok');
    border-left: solid 6px color('validation', 'ok');
    margin: 10px -20px -20px -20px;
    padding: 5px 20px 5px 20px;
  }

  &__status {
    position: absolute;
    right: 20px;
    top: 20px;
    
    &::before {
      display: inline-block;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;
    }

    &--refused {
      &::before {
        background-color: color('validation', 'no');
      }

      &::after {
        display: inline-block;
        content: "Déclinée";
      }
    }
    &--accepted {
      &::before {
        background-color: color('validation', 'ok');
      }

      &::after {
        display: inline-block;
        content: "Acceptée";
      }
    }
  }

  &__close {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background-color: rgba(color('background', 'invert'),.8);
    color: color('foreground', 'invert');
  }

  &__list {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

    &__item {
      position: relative;
      list-style: none;
      padding: 20px;
      border-bottom: solid 1px color('gray', 'light');
      @include transition();

      &.not-seen {
        background-color: rgba(color('primary'), .1);
      }

      &.search-response {
        padding: 0 20px;
        line-height: 25px;
        border-top: 0;
        padding-bottom: 20px;
        text-transform: uppercase;
      }
      &.small-padding {
        padding: 0 20px;
      }
      &.swipe {
        transform: translateX(-120px);
        @include transition();
      }
    }
  }
}
.search {
  background-color: color('gray', 'extra-light');

  &__list {
    margin-top: 30px;

    &__item {
      &:first-child {
        border-top: solid 1px color('gray', 'light');
      }
      &.search-response {
        &:first-child {
          border-top: 0;
        }
      }
    }
  }
}