// _m-profile.scss

.profile-page {
  position: relative;
  margin: -1px 0 20px 0;
  background-color: color('background', 'invert');
  padding: 20px;
  color: color('foreground', 'invert');
  
  &--recap {
    width: 100%;
    border-left: solid 2px color('primary');
    border-right: solid 2px color('primary');
    font-size: 14px;
  }

  &--dark {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 0 0 40px 0;
    background-color: color('background', 'invert');
    color: color('foreground', 'invert');
    overflow: hidden;
  }

  &__edit {

    &__text {
      display: block;
      overflow: hidden;
      margin: 20px 0;
      border-bottom: dotted 1px rgb(66, 66, 66);

      &--update-pwd {
        border-bottom: 0;

        .container-update-pwd {
          margin-top: 10px;
          width: 100%;
        }
        input {
          display: block;
          margin: 3px 0;
          width: 100%;
          height: 18px;
          padding: 10px;
        }
        .button {
          margin: 10px auto 0 auto;
          max-width: initial;
          cursor: pointer;
        }
      }
    }

    &__right {
      float: right; 
    }
    &__left {
      font-style: italic;
      float: left;

      &#profile-update-password,
      &#profile-cancel-password {
        display: block;
        float: none;
        color: color('primary');
        text-decoration: underline;
        width: auto;
        cursor: pointer;

        & + div {
          display: none;
        }
      }
      &#profile-cancel-password {
        display: none;
      }
    }
  }

  .icon {
    display: block;
    margin: 0 auto 20px auto;
    width: 120px;
    height: 120px;
    font-size: 50px;
    border: 1px solid color('background');
    border-radius: 50%;
    text-align: center;
    line-height: 120px;
  }
  &__name {
    font-weight: 700;
    font-size: 16px;
    margin-top: 15px;
  }
  &__status {
    font-size: 14px;
  }
  &__sep {
    width: 1px;
    height: 50px;
    background-color: color('background');
  }
  &__col {
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px;
    width: 50%;
    text-align: center;

    &__nb {
      display: inline-block;
      font-size: 30px;

      &--ok {
        color: color('validation', 'ok');
      }
      &--no {
        color: color('validation', 'no');
      }
    }
    span {
      font-size: 15px;
    }
  }

  &__info-hours {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    background-color: color('background', 'invert');
    color: color('foreground', 'invert');
    font-size: 14px;
    text-transform: uppercase;
    height: 40px;
    margin: 10px 0;

    &--mg {
      margin-top: 25px;
    }

    &__title {
      padding-left: 20px;
    }
    &__nb {
      padding-right: 20px;
      color: color('validation', 'ok');
      font-size: 24px;

      span {
        font-size: 12px;
      }
    }
  }
}