// _m-routing.scss

.routing {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: color('background');
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: auto;
  z-index: 1;
  @include transition();

  &__center {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    top: 0;
    padding-top: 1px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: calc(100% - 85px);
    top: 55px;
    overflow-y: auto;
  }

  &.hide,
  &.show {
    @include transition();
  }
  &.hide {
    opacity: 0;
  }
  &.show {
    display: block;
    opacity: 1;
    z-index: 9;
  }
  .level1 {
    opacity: 1;
    transform: translateX(0);
    transition: all 200ms ease;

    &.swipe {
      opacity: 0;
      transform: translateX(-110%);
      transition: all 400ms ease;
    }
  }

  &#actions,
  &#validation,
  &#profile,
  #hours {
    background-color: color('gray', 'extra-light');
  }

  .level2 {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    opacity: 0;
    transform: translateX(110%);
    transition: all 200ms ease-in-out;
    padding-bottom: 40px;

    &.show {
      opacity: 1;
      transform: translateX(0);
      transition: all 200ms ease-in-out;
    }

    .title {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 22px;
      margin-bottom: 20px;
      text-align: center;
    }
    .list {
      li {
        list-style: none;
        padding: 0;
        margin: 10px 0;
        font-size: 14px;

        &::before {
          display: inline-block;
          vertical-align: middle;
          content: "";
          width: 20px;
          height: 1px;
          background-color: color('background', 'invert');
          margin-right: 10px;
        }
      }
    }
  }
}