// _c-alert.scss

.msg-flash {
  @include center-h(fixed);
  bottom: 43px;
  width: 98%;
  z-index: 99;

  .alert {
    color: color('foreground', 'invert');
    font-style: italic;
    font-weight: 100;
    padding: 10px;
    border-radius: 5px;

    &--success {
      background-color: color('validation', 'ok');
    }
    &--error {
      background-color: color('validation', 'no');
    }

    &::after {
      display: block;
      content: $icon-close;
      font-family: font('icon');
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: color('background', 'invert');
      position: absolute;
      top: -6px;
      right: -2px;
      padding: 6px;
      font-style: normal;
      font-size: 8px;
    }
  }
}
