// _c-alert.scss

.msg-flash {
  @include center-h(fixed);
  bottom: 30px;
  width: 500px;
  z-index: 99;

  .alert {
    color: color('foreground', 'invert');
    font-style: italic;
    font-weight: 100;
    padding: 10px;
    border-radius: 5px;

    &--success {
      background-color: color('validation', 'ok');
    }
    &--error {
      background-color: color('validation', 'no');
    }
  }
}
