// _c-button.scss

.button {
  display: block;
  font-family: font('primary');
  font-size: 15px;
  font-weight: 700;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: color('foreground');
  background: color('primary');
  border: 0;
  appearance: none !important;
  @include transition();

  &--small {
    max-width: 220px;
    margin: auto;
    font-size: 12px;
  }

  &--icon {
    .icon {
      margin-right: 6px;
    }
  }

  &--red {
    color: color('foreground', 'invert');
    background-color: color('validation', 'no');
  }

  &--mg {
    margin: 25px auto;
  }
}

/// Create themed btn version based on $colors variable map
/// @variable {String} $color-name - Color's name
/// @variable {List} $color-variant - Color's themed map
/// @return {Mixed} .btn--color-name
/// @require $colors
@each $color-name, $color-variants in $colors {
  .btn--#{$color-name} {
    color: color($color-name, 'invert');
    background: color($color-name);

    @each $variant-name, $color-variant in $color-variants {
      &-#{$variant-name} {
        color: color($color-name, 'invert');
        background: color($color-name, $variant-name);
      }
    }
  }
}
