// _c-title.scss

.title {
  font-family: font('primary');
  margin: 15px 0;

  .card & {
    margin-top: 0;
  }

  &--primary { // h1 and primary level titles
    @include font-size(30px);
    color: color('primary');
  }

  &--secondary { // h2 and secondary level titles
    @include font-size(20px);
    color: color('secondary');
  }
}

.h2 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  text-transform: uppercase;
  margin: 30px 0 12px 0;
  font-size: 18px;
  background: url(../../images/motif.png) repeat;
  width: 100%;
  padding: 6px 0 6px 50px;

  &::before {
    position: absolute;
    display: block;
    vertical-align: middle;
    content: "";
    width: 40px;
    height: 5px;
    background-color: color('primary');
    top: 16px;
    left: 5px;
  }
}
