// _base.scss

html {
  font-size: $font-size-base;
}

body {
  @include font-size(16px);
  font-family: font('primary');
  font-size: 12px;
  width: 100%;
  overflow: hidden;
}

.no-result {
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
}

.success {
  display: block;
  margin: 40px auto 0 auto;
  font-size: 22px;
  text-align: center;
}