// _fonts.scss
/// Google Fonts
// - Lato
// - Open Sans
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Open+Sans:400,400i,700,700i');

// Classic font-face version
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/lato/lato-400.eot');
  src: url('../../fonts/lato/lato-400.eot?#iefix') format('embedded-opentype'),
  local('Lato'),
  local('Lato-Regular'),
  url('../../fonts/lato/lato-400.woff2') format('woff2'),
  url('../../fonts/lato/lato-400.woff') format('woff'),
  url('../../fonts/lato/lato-400.ttf') format('truetype'),
  url('../../fonts/lato/lato-400.svg#Lato') format('svg');
}

// Mixin version
@include font-face('Lato', '../../fonts/lato/lato-400', 400, normal);
@include font-face('Lato', '../../fonts/lato/lato-400i', 400, italic);

// FOR DEMO STYLES ---------------------------------------------------------------------------------------
@include font-face('Butler', '../../fonts/demo/butler/butler-100', 200, normal, woff woff2);
@include font-face('Butler', '../../fonts/demo/butler/butler-300', 300, normal, woff woff2);
@include font-face('Butler', '../../fonts/demo/butler/butler-400', 400, normal, woff woff2);
@include font-face('Butler', '../../fonts/demo/butler/butler-500', 500, normal, woff woff2);
@include font-face('Butler', '../../fonts/demo/butler/butler-700', 700, normal, woff woff2);
@include font-face('Butler', '../../fonts/demo/butler/butler-800', 800, normal, woff woff2);
@include font-face('Butler', '../../fonts/demo/butler/butler-900', 900, normal, woff woff2);
// ----------------------------------------------------------------------------------------------------
